// 1. time-calculator

.time-converter {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

// 2. daysCalculator

.days-calculator {
    width: 400px;
    margin: 0 auto;

    &__error {
        color: rgb(255, 0, 0)
    }
}

// 3. weigh-converter

.weigh-converter {
    width: 400px;
    margin: 0 auto; 
}

// 4. herons-calculator

.herons-calculator {
    width: 400px;
    margin: 0 auto;
}

// 5. temperature-calc

.temperature-calc {
    width: 400px;
    margin: 0 auto;
}

// 6. pythagoras

.pythagoras {
    width: 400px;
    margin: 0 auto;
}

// 7. speed-calculator

.speed-calculator {
    width: 400px;
    margin: 0 auto; 
}

// 8. volume-units-converter

.volume-units-converter {
    width: 400px;
    margin: 0 auto;
}

// 9. bmi-calculator

.bmi-calculator {
    width: 400px;
    margin: 0 auto;
}

// 10. length-converter

.length-converter {
    width: 400px;
    margin: 0 auto;
}

// 11. power-calculator

.power-calculator {
    width: 400px;
    margin: 0 auto; 
}

// 12. steps-to-miles

.steps-to-miles {
    width: 400px;
    margin: 0 auto; 
}

// 13. hour-salary-calculator

.hour-salary-calculator {
    width: 400px;
    margin: 0 auto;  
}

// 14 percent-calculator

.percent-calculator {
    width: 400px;
    margin: 0 auto; 
}

// 15.feet-to-miles

.feet-to-miles {
    width: 400px;
    margin: 0 auto; 
}

// 16. lbs-to-kg

.lbs-to-kg {
    width: 400px;
    margin: 0 auto; 
}

// 17. ml-to-grams

.ml-to-grams {
    width: 400px;
    margin: 0 auto; 
}

// ounces-to-kilograms

.ounces-to-kilograms {
    width: 400px;
    margin: 0 auto; 
}