// 1. time-calculator

.time-converter {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

// 2. daysCalculator

.days-calculator {
    width: 400px;
    margin: 0 auto;

    &__error {
        color: rgb(255, 0, 0)
    }
}

// 3. weigh-converter

.weigh-converter {
    width: 400px;
    margin: 0 auto; 
}

// 4. herons-calculator

.herons-calculator {
    width: 400px;
    margin: 0 auto;
}

// 5. temperature-calc

.temperature-calc {
    width: 400px;
    margin: 0 auto;
}

// pythagoras

.pythagoras {
    width: 400px;
    margin: 0 auto;
}